<h1>New User Alert!</h1>

<p>Please reach out to <%= @first_name %><%=@last_name %>, at <%=@email %>. They just signed up with Olson Classic Yachts and would like to receive more information on lease-sharing opportunities. Here's their phone number too, just in case: <%=@phone %></p>

<p><a href="http://localhost:3000/users/<%= @id %>/edit">Click here</a> when you are ready to assign this user to a group.</p>

Best, 
The Olson Robot

<!-- include registration information -->
