<div class="container-fluid">
<h1>Enter a New Boat</h1>

<%=form_tag '/boats' do %>
   <div id="form-div">
	 <div class="inner_div">
	 <%= label_tag %> Image <br />
      <%= text_field_tag :image_url %>
    </div>
    
    <div class="inner_div">
    <%= label_tag "Boat Name" %><br />
      <%= text_field_tag :name %>
    </div>
    
    <div class="inner_div">
      <%= label_tag "Boat Make" %><br />
      <%= text_field_tag :make %>
    </div>
    
    <div class="inner_div">
    <%= label_tag "Size" %><br />
      <%= text_field_tag :size %>
    </div>
    
    <div class="inner_div">
      <%= label_tag "Harbor" %><br />
      <%= text_field_tag :harbor %>
    </div>

     <div class="inner_div">
      <%= label_tag "Total Shares Possible" %><br />
      <%= text_field_tag :shares_possible %>
    </div>

     <div class="inner_div">
      <%= label_tag "Full Share Price" %><br />
      <%= text_field_tag :full_share_price %>
    </div>

     <div class="inner_div">
      <%= label_tag "Two-Thirds Share Price" %><br />
      <%= text_field_tag :two_thirds_share_price %>
    </div>

    <div class="inner_div">
      <%= label_tag "Half Credit AM MTWTH" %><br />
      <%= text_field_tag :half_credit_AM_MTWTH %>
    </div>

    <div class="inner_div">
      <%= label_tag "Half Credit PM MTWTH" %><br />
      <%= text_field_tag :half_credit_PM_MTWTH %>
    </div>
    <div class="inner_div">
      <%= label_tag "Half Credit AM Fri" %><br />
      <%= text_field_tag :half_credit_AM_F %>
    </div>
    <div class="inner_div">
      <%= label_tag "Half Credit PM Fri" %><br />
      <%= text_field_tag :half_credit_PM_F %>
    </div>
    <div class="inner_div">
      <%= label_tag "Half Credit AM Sat" %><br />
      <%= text_field_tag :half_credit_AM_SAT %>
    </div>
    <div class="inner_div">
      <%= label_tag "Half Credit PM Sat" %><br />
      <%= text_field_tag :half_credit_PM_SAT %>
    </div>
    <div class="inner_div">
      <%= label_tag "Half Credit AM Sun" %><br />
      <%= text_field_tag :half_credit_AM_SUN %>
    </div>
     <div class="inner_div">
      <%= label_tag "Half Credit PM Sun" %><br />
      <%= text_field_tag :half_credit_PM_SUN %>
    </div>
    <div class="inner_div">
      <%= label_tag "Full Credit MTWTH" %><br />
      <%= text_field_tag :full_credit_MTWTH %>
    </div>
    <div class="inner_div">
      <%= label_tag "Full Credit Fri" %><br />
      <%= text_field_tag :full_credit_F %>
    </div>
    <div class="inner_div">
      <%= label_tag "Full Credit Sat"%><br />
      <%= text_field_tag :full_credit_SAT %>
    </div>
    <div class="inner_div">
      <%= label_tag "Full Credit Sun" %><br />
      <%= text_field_tag :full_credit_SUN %>
    </div>
    <div class="inner_div">
      <%= label_tag "Two-Thirds Credits Total" %><br />
      <%= text_field_tag :two_thirds_credits_total %>
    </div>
    <div class="inner_div">
      <%= label_tag "Full Credits Total" %><br />
      <%= text_field_tag :full_credits_total %>
    </div>
  </div>
  </div>
    <%= submit_tag "Add Boat", :class => "add_boat_button" %>
  </div>
</div>
<% end %>
