<div class="container-fluid">
<h1>Enter a New Boat</h1>

<%=form_tag '/boats' do %>
  <div id="form-div">
	 <div class="inner_div">
	 <%= label_tag :image %><br />
      <%= text_field_tag :image %>
    </div>
    
    <div class="inner_div">
    <%= label_tag :name %><br />
      <%= text_field_tag :name %>
    </div>
    
    <div class="inner_div">
      <%= label_tag :make %><br />
      <%= text_field_tag :make %>
    </div>
    
    <div class="inner_div">
    <%= label_tag :size %><br />
      <%= text_field_tag :size %>
    </div>
    
    <div class="inner_div">
      <%= label_tag :harbor %><br />
      <%= text_field_tag :harbor %>
    </div>

     <div class="inner_div">
      <%= label_tag :shares_possible %><br />
      <%= text_field_tag :shares_possible %>
    </div>

     <div class="inner_div">
      <%= label_tag :full_share_price %><br />
      <%= text_field_tag :full_share_price %>
    </div>

     <div class="inner_div">
      <%= label_tag :two_thirds_share_price %><br />
      <%= text_field_tag :two_thirds_share_price %>
    </div>

    <div class="inner_div">
      <%= label_tag :half_credit_AM_MTWTH %><br />
      <%= text_field_tag :half_credit_AM_MTWTH %>
    </div>

    <div class="inner_div">
      <%= label_tag :half_credit_PM_MTWTH %><br />
      <%= text_field_tag :half_credit_PM_MTWTH %>
    </div>
    <div class="inner_div">
      <%= label_tag :half_credit_AM_F %><br />
      <%= text_field_tag :half_credit_AM_F %>
    </div>
    <div class="inner_div">
      <%= label_tag :half_credit_PM_F %><br />
      <%= text_field_tag :half_credit_PM_F %>
    </div>
    <div class="inner_div">
      <%= label_tag :half_credit_AM_SAT %><br />
      <%= text_field_tag :half_credit_AM_SAT %>
    </div>
    <div class="inner_div">
      <%= label_tag :half_credit_PM_SAT %><br />
      <%= text_field_tag :half_credit_PM_SAT %>
    </div>
    <div class="inner_div">
      <%= label_tag :half_credit_AM_SUN %><br />
      <%= text_field_tag :half_credit_AM_SUN %>
    </div>
     <div class="inner_div">
      <%= label_tag :half_credit_PM_SUN %><br />
      <%= text_field_tag :half_credit_PM_SUN %>
    </div>
    <div class="inner_div">
      <%= label_tag :full_credit_MTWTH %><br />
      <%= text_field_tag :full_credit_MTWTH %>
    </div>
    <div class="inner_div">
      <%= label_tag :full_credit_F %><br />
      <%= text_field_tag :full_credit_F %>
    </div>
    <div class="inner_div">
      <%= label_tag :full_credit_SAT%><br />
      <%= text_field_tag :full_credit_SAT %>
    </div>
    <div class="inner_div">
      <%= label_tag :full_credit_SUN %><br />
      <%= text_field_tag :full_credit_SUN %>
    </div>
    <div class="inner_div">
      <%= label_tag :two_thirds_credits_total %><br />
      <%= text_field_tag :two_thirds_credits_total %>
    </div>
    <div class="inner_div">
      <%= label_tag :full_credits_total %><br />
      <%= text_field_tag :full_credits_total %>
    </div>
  </div>
  </div>
    <%= submit_tag "Add Boat", :class => "add_boat_button" %>
  </div>
</div>
<% end %>
